.main {
    padding: 10px;
}

.container_main_1 {
    background-color: azure;
    padding: 2%;
}

.container_main_2 {
    background-color: cadetblue;
    padding: 2%;
}

.container_about {
    background-color: gray;
    height: 100vh;
    padding: 2%;
}

.footer {
    color: azure;
    background-color: black;
    display: grid;
    /* height: 25vh; */
}

.ukuran_img {
    /* width: 35vw; */
    height: 35vh;
    border: 1px solid black;
    border-radius: 15%;
}

.list_film_margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* @media screen and (min-width: 576px) {

  }

  @media screen and (min-width: 768px) {
    .copyright_marginTop {
        margin-top: 5px;
    }

    .col.feedback_marginTop {
        margin-top: 5px;
    }
} */