.main {
    padding: 10px;
}

.container_main_1 {
    background-color: azure;
    height: 75vh;
}

.container_main_2 {
    background-color: cadetblue;
    height: 75vh;
}

.container_main_3 {
    background-color: gray;
    height: 75vh;
}

.footer {
    color: azure;
    background-color: black;
    display: grid;
    /* height: 25vh; */
}

/* .row {
    display: grid;
} */

@media screen and (min-width: 900px) {
    article {
      padding: 1rem 3rem;
    }
  }