body {
    font-family: 'Didact Gothic', sans-serif;
    /* padding: 10px; */
}

.logo_brand_size {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%;
    /* border: 0px solid black; */
}

.nav-link:hover {
    color: orange;
}

.searchbtn_hover:hover {
    color: orange;
}

/* .carousel-item img {
    margin: auto;
  } */

.container_main {
    background-color: white;
    padding: 2%;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

/* .container_main_2 {
    background-color: cadetblue;
    padding: 2%;
} */

.container_about {
    background-color: gray;
    height: 100vh;
    padding: 2%;
}

.footer {
    color: white;
    background-color: black;
    display: grid;
    /* height: 25vh; */
}

.ukuran_img {
    /* width: 35vw; */
    /* height: 35vh; */
    border: 1px solid black;
    border-radius: 15%;
}

.ukuran_img_ctc {
    height: 60vh;
}

.list_film_margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tD_none {
    text-decoration: none;
    color: white;
}

.tD_none:hover {
    color: orange;
}  

h4 {
    text-align: justify;
    text-justify: inter-word;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

/* @media screen and (min-width: 576px) {

  }

  @media screen and (min-width: 768px) {
    .copyright_marginTop {
        margin-top: 5px;
    }

    .col.feedback_marginTop {
        margin-top: 5px;
    }
} */